{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %} password reset {% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset password is completed</h3>
            <hr>
            <div>
                <iframe src="http://griphy.com/embed/ibo1Le3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="griphy-embed" allowfullscreen>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}tent %}