{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %} change password {% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row">
        <h3>welcome {{ request.user.username|capfirst }}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profiles' %}" class="btn btn-primary">change password done</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password change succfully!</h3>
        </div>
        <iframe src="http://griphy.com/embed/ibo1Le3mOqHE3PQTtk" width="200" height="200" frameborder="0"
                class="griphy-embed" allowfullscreen>

        </iframe>
    </div>
</div>
{% endblock main-content %}