<!--{% extends 'mainapp/base.html' %}-->
<!--{% load static %}-->
<!--{% block title %} product details {% endblock title %}-->

<!--{% block main-content %}-->
<!--{% block srct %}-->

<script>
    document.addEvenetListener("DOMContentLoaded",fuction(event){
    const btnPlus = document.getElementById("btnPlus");
    const btnMinus = document.getElementById("btnMinus");
    const txtQty = document.getElementById("txtQty");

        btnPlus.addEvenetListener('click',function(){
    alert('+');
        });
    });
</script>

<!--{% endblock srct %}-->
<!--{% endblock main-content %}-->